@import "tailwindcss";
@font-face {
    font-family: sourGummy;
    src: url("./assets/font/sourGummy.ttf") format("truetype");
  }
@theme {
    --font-sourGummy: "sourGummy", sans-serif;
  }
  @custom-variant dark (&:where(.dark, .dark *));